@charset "utf-8";

.banner_field{
    background-image: url("img/view_patient_banner.png");
    margin-top: 19px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    text-align: center;
    font-size: 35px;
    line-height: 250%;
}
.book{
    border-radius: 5px;
    background-color: #F8F5F8;
    padding: 20px;
    box-shadow: 5px 5px 10px #000000;
    box-sizing: content-box;
    width: 50%;
    margin: 60px auto;
}
.submit_in_form{
    width: 50px;
    font-size: 16px;
    background-color: #017C83;
    color: white;
    padding: 10px 20px;
    margin: 6px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.search_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 500px;
    margin: 20px auto 5px auto;
    align-items: center;
}
.search_button{
    position: relative;
}
input[type=text]{
    width: 70%;
    padding: 3px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.table-responsive{
    width: 95%;
    background-color: white;
    margin: 10px auto;
}
thead {
    border-top: 2px solid black;
    border-bottom: 3px solid black;
}
