@charset "utf-8";

.banner_field{
    background-image: url("img/book_appointment_banner.png");
    margin-top: 19px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    text-align: center;
    font-size: 35px;
    line-height: 250%;
}
.book_wrapper{
    margin: 30px 0px ;     
}
.book{
    width: 93.8%; 
    margin: 0 auto;
}
.form_heading{
    border: 1px solid black;
}
.form_heading h1,
.form_heading p{
    display: block;
    margin-left: 30px;
}
.book_form{
    padding-left: 30px;
    background-color: #017C83;
    border: 1px solid black;
}
.book_form label{
    color: white;
}
.book_form_flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.book_form_flex div{
    flex: 50%;
    margin: 5px 0px;
}
.book_form_flex label{
    display: block;
    width: 180px;
}
.book_form_flex input, .book_form_flex select{
    display: block;
    width: 230px;
    height: 32px;
    border-radius: 5px;
    padding: 2px 5px;    
}

.non_active{
    color: #BDBDBD !important;
}
.other_step:hover{
    color: black !important;
}
.message {
    text-align: center;
}

@media screen and (min-width: 576px) {
    .book{
        width: 94.5%;
    }
}

@media screen and (min-width: 768px) {
    .book{
        width: 75%;
    }
}

@media screen and (min-width: 1400px) {    
    .book{
        width: 55%;
    }
}
